<a href="https://colab.research.google.com/github/Leonardodarienzo/strutture-dati/blob/main/TUPLE_INSIEMI_DIZIONARI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TUPLE**

Una tupla è una struttura dati ordinata e non modificabile.
Si forma con le parentesi tonde

In [ ]:
tupla1=(1,2,3,4,5)
print(tupla1)

(1, 2, 3, 4, 5)

Gli elementi tuple sono ordinati, non modificabili e consentono valori duplicati. 
Sono indecizzate infatti il primo elemento della tuple ha valore di index "0"

Le tuple non sono modificabili, il che significa che non possiamo modificare, aggiungere o rimuovere elementi dopo che la tupla è stata creata.

quindi se ci serisse un vettore non modificabile non useremmo list ma una tupla

In [ ]:
tupla1.append(1) #non funziona perché non e modificabile

Per creare una tupla con un solo elemento, devi aggiungere una virgola dopo l'elemento

In [ ]:
tupla2=("prova",)
print(type(tupla2))
print(tupla2)
tupla2=("prova")
print(type(tupla2))

puo cotenere tutti i tipi di dati, pure tutti insieme in ua sola tuple

In [ ]:
tupla3=("ciao", 1, True,2,"hello")
print(tupla3)

si puo usare anche la funzione "tuple()" per crearne una

In [ ]:
pluto = [1, 0 ,2]
prova=tuple(pluto)
print(prova)
print(pluto)
pluto.extend([2])
print(pluto)
print(prova)

**Esercizio**
generare 20 numeri casuali non uguali che varino da 1 a 100, poi inserirli in una struttura dati adeguata che non sia modificabile.

In [ ]:
import random 
lista0 = random.sample(range(1,100),20) 
print(lista0)

aggiungere i primi 3 cognomi della classe in posizioe 1 all precedente vettore

**INSIEMI**

Gli insiemi sono un tipo di struttura dati di pyhton. 
Gli insiemi vengono utilizzati per memorizzare più elementi in una singola variabile.

Gli insiemi non sono ordinati, cioè che gli elementi presenti in essi non hanno un ordine definito.

Gli articoli del set non sono modificabili, il che significa che non possiamo modificare gli articoli dopo che il set è stato creato.
Non si possono inserire duplicati in un insieme.

In [ ]:
insieme = {"inter", "milan", "juventus"}
print(insieme)

In [ ]:
#altro metodo per creare un insieme
insieme2 = set(["luca","antonio" ,"riccardo" ,"valerio"])
print(insieme2)

trovare la lunghezza di un insieme

In [ ]:
len(insieme)

creare un insieme con numeri interi

In [ ]:
insiemenumerico = {1, 2, 3, 4, 5}
prova={i for i in range(10)}
print(prova)
print(insiemenumerico)

creare un insieme misto

In [ ]:
#gli elementi booleani sono inserbili solo se non sono presenti 1 (true) o 0 (false), dato che non ci possono essere duplicati in un insieme
insiememisto = {2, "luca", "marco", 45, True}
print(insiememisto)

In [ ]:
insieme3 = {1, 2, 56, 1} #dentro questo insieme viene inserito solo un 1, dato che negli insiemi non possono essere inseriti duplicati
print(insieme3)

accedere agli elementi di un insieme

In [ ]:
insieme4 = {"playstation", "xbox", "computer"}
for elemento in insieme4:
  print(elemento)
#non è possibile accedere agli elementi di un insieme usando indici

capire se un elemento è presente in un insieme

In [ ]:
"xbox" in insieme4

aggiungere elementi

In [ ]:
insieme5 = {"ciao", 56, True}
print(insieme5)
insieme5.add("francesco")
print(insieme5)

Per aggiungere elementi da un altro insieme nell'insieme in uso, utilizzare il update() metodo.

In [ ]:
insieme6 = {"giorgia", 78, 7}
insieme7 = {"poli", "loto", "simo",7}
insieme6.update(insieme7)
print(insieme6)

rimuovere elementi

In [ ]:
insieme8 = {"pippo", "pluto", "paperino", "topolino", "ronaldo", 45}
print(insieme8)
insieme8.remove("pippo")
print(insieme8)

In [ ]:
#rimuovere un elemento usando discard()
insieme8.discard("pippo")
print(insieme8)

In [ ]:
#rimuovere un elemento usando pop()
#questo metodo elimina un elemento a caso dell'insieme dato che non si può inserire un indice all'interno del metodo
x = insieme8.pop()
print(x)
print(insieme8)

svuotare completamente un insieme

In [ ]:
insieme8.clear()
print(insieme8)

In [ ]:
#altro metodo
del insieme8

unire gli insiemi

In [ ]:
#metodo union
set1 = {1, 2, 3, 4, 5, 6,14}
set2 = {10, 20, 30, 40}
set4={12,13,14,15}
set3 = set1.union(set2,set4)
print(set3)

In [ ]:
#metodo update
set4 = {"vittoria", "carlotta", "alice"}
set5 = {100, 200, 300}
set4.update(set5)  #il metodo update aggiunge gli elementi di un insieme in un altro insieme
print(set4)

#sia il metodo union e update escludono i duplicati

salvare solo i valori duplicati in due insiemi

In [ ]:
#intersection_update: salva in un insieme gli elementi duplicati che ci sono in entrambi gli insiemi (rimuove gli elementi che non presenti in altri insiemi)
set6 = {"ciao", "buongiorno", "buonasera", "arrivederci"}
set7 = {"arrivederci", "buonasera", 6, 80}
set6.intersection_update(set7)
print(set6)

In [ ]:
#intersection: crea e salva in un altro insieme gli elementi uguali in entrambi gli insiemi
set8 = set6.intersection(set7)
print(set8)

salvare i valori non duplicati in due insiemi

In [ ]:
#symmetric_difference_update: salva in un insieme gli elementi non duplicati che ci sono in entrambi gli insiemi (inserisce gli elementi diversi da questo insieme e un altro ed elimina quelli comuni)
set9 = {"inter", "milan", "roma", "napoli"}
set10 = {"inter", "roma", 87, 123}
set9.symmetric_difference_update(set10)
print(set9)

In [ ]:
#symmetric_difference: crea e salva in un altro insieme gli elementi non duplicati che sono presenti in due insiemi
set9 = {"inter", "milan", "roma", "napoli"}
set10 = {"inter", "roma", 87, 123}
set11 = set9.symmetric_difference(set10)
print(set11)

**differenze tra gli insiemi e le**

Nelle liste si possono inserire degli elementi uguali, mentre negli insiemi no.

Nelle liste si possono mostrare gli elementi di esse attraverso un'indice; questo non si può fare negli insiemi dato che gli elementi in un insieme sono disposti in maniera indefinita e non precisa.

Nelle liste si possono aggiungere elementi tramite i metodi: append, extend e insert, mentre negli insiemi si usa il metodi add, update e union.

I metodi pop e del, dove è necessario specificare l'indice dell'elemento che si vuole eliminare, negli insiemi hanno le corrispondenti funzioni: pop elimina un elemento a caso dell'insieme, mentre del elimina tutti gli elementi dell'insieme.

**differenze tre gli insiemi e i tuples**

Gli elementi dei tuples hanno un ordine preciso, quelli degli insiemi no.

Gli elementi dei tuples hanno un'indice, quelli degli insiemi no.

Nei tuples ci possono essere elementi uguali, negli insiemi no.

Dopo aver creato un tuple non ci si possono aggiungere elementi, mentre negli insiemi si.

**#esercizi**

inserire in una struttura dati adeguata gli elementi: 1, 4, 5, 6, 7, 10, 1, 4

In [ ]:
#occhio ai duplicati
insieme9=[1, 4, 5, 6, 7, 10, 1, 4]
print(insieme9)

creare un insieme che contenga: pizza, pasta, carne, pesce

In [ ]:
insieme10={"pizza","pasta","carne","pesce"}

aggiungere alla lista adesso creata l'elemento: hamburger

In [ ]:
insieme10.add("hamburger")
print(insieme10)

eliminare tutti gli elementi della lista creata

In [ ]:
insieme10.clear()
print(insieme10)

creare due insiemi con elementi a piacere, poi crearne un terzo con tutti gli elementi degli altri due insiemi

creare due insiemi in modo che ci siamo elementi comuni tra i due insiemi, poi crearne un terzo che contenga solo gli elementi uguali

inserire in una struttura dati adeguata 20 numeri casuali compresi tra 20 e 50 senza duplicati

In [ ]:
#esercizio sbagliato
import random
insiemeCasuale = set()
for i in range(20):
  insiemeCasuale.add(random.randint(20, 50))
print(insiemeCasuale)
len(insiemeCasuale)

correzione esercizio precedente

In [ ]:
insiemeCasuale = set(random.sample(range(20,50),20))
print(insiemeCasuale)
len(insiemeCasuale)

caricare in una lista 20 numeri casuali tra 1 e 100 ed eliminarne i duplicati

In [ ]:
import random
lista=list(set([random.randint(1,100) for i in range(20)]))
print(type(lista),lista)

***ESERCIZI***

In [ ]:
squadre = ["Milan","Juve","Inter","Napoli","Napoli","Inter","Milan"]
print(squadre)

['Milan', 'Juve', 'Inter', 'Napoli', 'Napoli', 'Inter', 'Milan']

In [ ]:
squadreSenzaRipetizioni = list(set(squadre))
print(squadreSenzaRipetizioni)

['Juve', 'Napoli', 'Milan', 'Inter']

In [ ]:
studentiMilan = {"darienzo","berasconi","geremicca"}
studentiInter = {"milella","lotorto","geremicca"}
print(studentiInter)
print(studentiMilan)

{'milella', 'geremicca', 'lotorto'}
{'darienzo', 'geremicca', 'berasconi'}

In [ ]:
studenti=studentiMilan.union(studentiInter)
print(studenti)
len(studenti)

{'darienzo', 'milella', 'lotorto', 'geremicca', 'berasconi'}

5

In [ ]:
#studenti che tengono tutte e due le squadre
studentiDueSquadre = studenti.intersection(studentiInter)
print(studentiDueSquadre)

{'milella', 'geremicca', 'lotorto'}

In [ ]:
#studenti che non tifano il Milan
studentichetifanosolointer = studentiInter.difference(studentiMilan)
print(studentichetifanosolointer)

**Dizionari**